/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}

/* Estilos para el logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 100px;
}

.logo-text {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para la navegación */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}

/* Estilos para las redes sociales */
.social-media {
    display: flex;
    gap: 10px;
}

.social-media a {
    color: #333;
    text-decoration: none;
}
.social-media img {
    width: 30px;
    height: 30px;
}


.inicio-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
